<head>

</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #3C3835;">
            <a class="navbar-brand" href="#"><img src="../assets/image/petronas.png" width="50px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <b><a class="nav-link" href="">Home</a></b>
                </li>
                <li class="nav-item">
                  <b><a class="nav-link" href="/site-code">Site Code</a></b>
                </li>
              </ul>
            </div>
          </nav>
</div>

<div class="container">
<router-outlet></router-outlet>
</div>
</body>