.navbar.navbar-expand-lg.navbar-light .navbar-nav .nav-item .nav-link {
    color: #b9b9b9;
    font-size: 0.9vw;
}

.navbar.navbar-expand-lg.navbar-light .navbar-nav .nav-item .nav-link:hover {
    background-color: #00A19C;
    color: #ffffff;
    border-radius: 35px;
    transition: 1s;
}

.navbar.navbar-expand-lg.navbar-light .navbar-brand:hover{
    background-color: #ffffff;
    transition: 1s;
}

.slider-hover{
    list-style-type: none;
    
}

.sidebar-hover .nav-item .nav-link{
    padding-left: 10px;
    color: black;
    text-align: left;
}
.sidebar-hover .nav-item .nav-link:hover{
    background-color: #00A19C;
    color: #ffffff;
    transition: 0.5s;
}

.container{
    margin-top: 60px;
    margin-right: 0px;
    font-size: 0.9vw;
    font-family: Calibri;
}

nav{
    height: 45px;
    font-size: 1vw;
}

.footer{
    background-color: #00A19C;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 1vw;
}