<head>

</head>

<body>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #ffffff;">
            <a class="navbar-brand" href="#"><img src="../assets/image/petronas-vector-logo.png" width="68px"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active" >
                  <b><a class="nav-link" href="">Overview</a></b>
                </li>
                <li class="nav-item">
                  <b><a class="nav-link" href="/site-code">NDR</a></b>
                </li>
                <li class="nav-item">
                  <b><a class="nav-link" href="#">PDB</a></b>
                </li>
              </ul>
            </div>
          </nav>
</div>

<div style="float: left;width: 215px; margin-top: 50px; font-size: 0.9vw;">
  <aside>
    <ul class="navbar-nav sidebar-hover">
      <li class="nav-item">
        <a class="nav-link" style="color: black;" href="">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: black;" href="/site-code">NDR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="color: black;" href="#">PDB</a>
      </li>
    </ul>
  </aside>
</div>

<div class="container" style="float: right; width: 1600px;">
<router-outlet></router-outlet>
</div>
</body>